{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "prettier",
    "react-app",
    "react-app/jest"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules" : {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
